<!DOCTYPE html>
<html ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <title>Lunch Check</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="LunchCheckController">
    <h1>Lunch Check</h1>
    <div class="container">
      <label for="lunchItems">Enter comma-separated items you usually eat for lunch:</label>
      <input type="text" id="lunchItems" ng-model="lunchItems">

      <button ng-click="checkLunch()">Check If Too Much</button>

      <div class="message">
        <span ng-if="message" ng-class="{'enjoy': message === 'Enjoy!', 'too-much': message === 'Too much!', 'error': message === 'Please enter data first'}">
          {{ message }}
        </span>
      </div>
    </div>


    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
